<div>
    <div class="card card-blk card-lg">
        <h4>{{BlackCard.BlankValue}}</h4>
    </div>
    <div>
        <uib-accordion close-others="oneAtATime">
            <uib-accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                This content is straight in the template.
            </uib-accordion-group>
            <uib-accordion-group heading="{{player}}" ng-repeat="player in players">
                <div ng-repeat="card in player.cards">
                    <div class="card card-lg">
                        {{card}}
                    </div>
                </div>
            </uib-accordion-group>
        </uib-accordion>
    </div>
</div>